html{
    font-size: 20px;
    color: map-get($colors,pink);
}
hr{
    width: 85%;
    margin: 5px auto;
    background-color: grey;
    height: 4px;
}


// ================ HEADER ================ //
header{
    height: 15vh;
    width: 85%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
}
.logo, nav{
    display: inline-block;
}
.logo{
    width: 20%;
}
nav{
    float: right;
    width: 80%;
    display: flex;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
li{
    font-weight: bold;    
}

// ================ SECTION ================ //
section{
    height: 75vh;
    font-size: 0;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, lightblue);
    color: map-get($colors,green);
}
.mainImage, .author{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
   height: 80%;
}
.mainImage{
    width: 70%;
}
.author{
    width: 30%;
    div{
        height: 30%;
    }
}

// ================ FOOTER ================ //
footer{
    width: 85%;
    margin: 0 auto;
    padding: 2%;
    p, div{
        display: inline-block;
    }
}
.smallLogo{
    float:right;
}